body {
  font-size: 15px;
  color: #ffffff;
  background-color: #FF6347;
 font-family: 'Oxygen', sans-serif;
}

*{box-sizing: border-box;margin: 0;padding: 0;
}

/** HEADER **/
#header-nav {
	background-color: #00FA9A;
	border-radius: 0;
	border: 0;
	padding: 10px;
}

.navbar-text {
	font-style: italic;
	color: black;
}

h1 {
	text-align: center;

}

#Chicken {
	background-color: #696969;
	text-align: left;
	font-size: 12px;
	padding: 10px;
	margin: 15px;        
}

.Chick {
	text-align: center;
	font-size: 15px;
	margin: 5px;
	margin-bottom: 10px;	
}

#Beef {
	background-color: #696969;
	text-align: left;
	font-size: 12px;
	padding: 10px;
	margin: 15px;        
}

.Beefy {
	text-align: center;
	font-size: 15px;
	margin: 5px;
	margin-bottom: 10px;
}

#Sushi {
	background-color: #696969;
	text-align: left;
	font-size: 12px;
	padding: 10px;
	margin: 15px; 
}

.Beefy {
	text-align: center;
	font-size: 15px;
	margin: 5px;
	margin-bottom: 10px;
}

/* Media Query for small devices */
@media ( min-width: 576px) and ( max-width: 575px) {
	#Chicken {
		width: 100%;
	}

	#Beef {
		width: 100% 
	}

	#Sushi {
		width: 100%;
	}

}

/* Media Query for medium devices */
@media ( min-width: 768px) and ( max-width: 767px) {
	#Chicken {
		width: 100%;
	}

	#Beef {
		width: 100% 
	}

	#Sushi {
		width: 100%;
	}
}

/* Media Query for large devices */
@media ( min-width: 992px) and ( max-width: 591px) {
	#Chicken {
		width: 100%;
	}

	#Beef {
		width: 100% 
	}

	#Sushi {
		width: 100%;
	}
}

/* Media Query for Extra large devices */
@media ( min-width: 1200px) and ( max-width: 1199px) {
	#Chicken {
		width: 100%;
	}

	#Beef {
		width: 100% 
	}

	#Sushi {
		width: 100%;
	}
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.icon-bar {
  color: black;
  border-color: black;
  background-color: black;
}